<nav class="navbar navbar-inverse mobileNav">

    <div class="navbar-header">
        <div class="pull-left">

            <a class="navbar-brand pull-right" 
            style="font-size: 1.2rem; -webkit-text-fill-color: rgb(255, 255, 255);">
                <marquee><strong>Lahore College Arts Science And Technology</strong></marquee>
            </a>
            <a href="index.html" class="pull-left"><img src="assets/images/LCAST Logo.png" width="70" height="70"></a>
        </div>
        <div class="pull-right">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">

            <li><a href="index.html">Home</a></li>
            <li class="has-dropdown">
                <a>Courses</a>
                <ul class="dropdown">
                    <li><a style="color:cornsilk;" href="/college">INTERMEDIATE</a></li>
                    <li><a style="color:cornsilk; " href="/courses">GRADUATION</a></li>
                </ul>
            </li>
            <li><a href="/about">About</a></li>
            <li><a href="/event">Events</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>

    </div>
</nav>




<nav class="colorlib-nav desktopNav" role="navigation">
    <div class="upper-menu">
        <div class="container">
            <div class="row">

                <div class="col-xs-4">
                    <p style="-webkit-text-fill-color: rgb(255, 255, 255);">
                        <marquee><strong>Lahore College Arts Science And Technology</strong></marquee>
                    </p>
                </div>

            </div>
        </div>
    </div>
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div id="colorlib-logo"><a href="index.html"><img src="assets/images/LCAST Logo.png" width="70"
                                height="70"></a>

                    </div>

                </div>


                <div class="col-md-10 text-right menu-1">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="has-dropdown">
                            <a>Courses</a>
                            <ul class="dropdown">
                                <li><a href="/college">INTERMEDIATE</a></li>
                                <li><a href="/courses">GRADUATION</a></li>
                            </ul>
                        </li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/event">Events</a></li>
                        <li><a href="/contact">Contact</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>