<!DOCTYPE html>
<html>
<head>
<style>
table {
  width:50%;
  float: left;

  
  
}
table, th, td {
  border: 1px solid black;
  border-collapse: separate;
  
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 tr:nth-child(even) {
  background-color: white;
}
#t01 tr:nth-child(odd) {
 background-color: #d9d9d9;
}
#t01 th {
  font-size: 14pt;
  background-color: #333333;
  text-align: center;
  color: white;
  
}
</style>
</head>
<body>
  <h2 style="text-align:center">SCHEME OF STUDIES BS Information Technology</h2>
    <div class="container">
<div class="row">
    
  

<table id="t01">
    <tr>
      <th colspan="3">Semester 1</th>
    
    </tr>
    
    <tr>
      <td>CSI-301</td>
      <td>Programming Fundamentals</td>
      <td>4(3-1)</td>
    </tr>
    <tr>
      <td>CSI-303</td>
      <td>Intoduction to Information & Communication Technologies</td>
      <td>3(2-1)</td>
    </tr>
    <tr>
      <td>ENG-321</td>
      <td>Functional English</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>ISL-321</td>
      <td>Islamic Studies/Ethics</td>
      <td>2(2-0)</td>
    </tr>
    <tr>
      <td>MTH-323</td>
      <td>Calculus and Analytical Geometry</td>
      <td>3(3-0)</td>
    </tr>
    

    <tr>
        <th colspan="3">Semester 2</th>
    </tr>
    <tr>
        <td>CSI-302</td>
        <td>Object Oriented Programming </td>
        <td>4(3-1)</td>
      </tr>
      <tr>
        <td>CSI-304</td>
        <td>Discrete Structure</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>PST-321</td>
        <td>Pakistan Studies</td>
        <td>2(2-0)</td>
      </tr>
      <tr>
        <td>ENG-322</td>
        <td>English Comprehension & Composition</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MTH-324</td>
        <td>Multivariable and integral Calculus</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>PHY-312</td>
        <td>Basic Electronics</td>
        <td>3(3-0)</td>
      </tr>
      

      <tr>
        <th colspan="3">Semester 3</th>
      
      </tr>
      
      <tr>
        <td>CSI-401</td>
        <td>Data Structure & Algorithm</td>
        <td>4(3-1)</td>
      </tr>
      <tr>
        <td>CSI-403</td>
        <td>Digital Logic & Design</td>
        <td>4(3-1)</td>
      </tr>
      <tr>
        <td>STA-321</td>
        <td>Introduction to Statistical Theory</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>CSI-406</td>
        <td>Introduction to DataBase Systems</td>
        <td>4(3-1)</td>
      </tr>
      <tr>
        <td>ENG-321</td>
        <td>Communication Skills </td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>BMS-406</td>
        <td>Fundamentals of Marketing</td>
        <td>3(3-0)</td>
      </tr>
      
      <tr>
        <th colspan="3">Semester 4</th>
      
      </tr>
      
      <tr>
        <td>CSI-402</td>
        <td>Operating Systems</td>
        <td>4(3-1)</td>
      </tr>
      <tr>
        <td>CIT-402</td>
        <td>Information Systems</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>CIT-404</td>
        <td>Web Systems and Technologies</td>
        <td>3(2-1)</td>
      </tr>
      <tr>
        <td>CSI-404</td>
        <td>Computer Communication & Networks</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>SWE-401</td>
        <td>Introduction To Software Engineering</td>
        <td>3(3-0)</td>
      </tr>
  
      <tr>
  </table>
  
  <table id="t01">
    <tr>
      <th colspan="3">Semester 5</th>
    </tr>
    <tr>
      <td>CIT-501</td>
      <td>Computer Networks</td>
      <td>3(2-1)</td>
    </tr>
    <tr>
      <td>CIT-503</td>
      <td>Internet Architecture & Protocols</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>CIT-505</td>
      <td>Database Administration & Management</td>
      <td>3(2-1)</td>
    </tr>
    <tr>
      <td>CIT-507</td>
      <td>Object Oriented Analysis and Design</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>BBA-511</td>
      <td>Information System Audit</td>
      <td>3(3-0)</td>
    </tr>
    <tr >
      <td colspan="3" >Elective i</td>
    </tr>
 
    
   
    
    <tr>
        <th colspan="3">Semester 6</th>
      </tr>
      <tr>
        <td>CIT-502</td>
        <td>Multimedia Systems and Design</td>
        <td>3(2-1)</td>
      </tr>
      <tr>
        <td>CIT-504</td>
        <td>Technology Management</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>CIT-506</td>
        <td>System Integration and Architecture</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>CIT-508</td>
        <td>Systems and Network Administration</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td colspan="3">Elective ii,iii</td>
      </tr>
     

      <tr>
        <th colspan="3">Semester 7</th>
      </tr>
      <tr>
        <td>CIT-601</td>
        <td>Human Computer Interaction</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>CIT-603</td>
        <td>It Project Management</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>CIT-605</td>
        <td>Network Security</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>CIT-607</td>
        <td>Cloud Computing</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td colspan="3">Elective i</td>
      </tr>
     

      <tr>
        <th colspan="3">Semester 8</th>
      </tr>
      <tr>
        <td>CIT-602</td>
        <td>Professional Practice</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>BBA-604</td>
        <td>Human Resource Management</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>CIT-631</td>
        <td>Project</td>
        <td>6(0-6)</td>
      </tr>
      <tr>
        <td colspan="3" style="background-color: blanchedalmond;"><strong> Courses (i,ii,iii,iv,v) Will be Chosen From given Below</strong></td>
      </tr>

      <tr>
        <td>CIT-633</td>
        <td>Telecommunication Systems</td>
        <td>3(3-0)</td>
      </tr><tr>
        <td>CIT-634</td>
        <td>Routing & Switching</td>
        <td>3(2-1)</td>
      </tr><tr>
        <td>CIT-635</td>
        <td>Network Design and Management</td>
        <td>3(3-0)</td>
      </tr><tr>
        <td>CIT-636</td>
        <td>Network Programming</td>
        <td>3(2-1)</td>
      </tr><tr>
        <td>CIT-637</td>
        <td>Computer Game Development</td>
        <td>3(2-1)</td>
      </tr><tr>
        <td>CIT-638</td>
        <td>Multimedia Technologies</td>
        <td>3(2-1)</td>
      </tr><tr>
        <td>CIT-639</td>
        <td>3d Modeling & Animation</td>
        <td>3(2-1)</td>
      </tr><tr>
        <td>CIT-640</td>
        <td>Mobile Computing</td>
        <td>3(2-1)</td>
      </tr><tr>
        <td>CIT-641</td>
        <td>Software Agents Technology</td>
        <td>3(3-0)</td>
      </tr><tr>
        <td>CIT-642</td>
        <td>E Commerce Applications Development</td>
        <td>3(2-1)</td>
      </tr><tr>
        <td>CIT-643</td>
        <td>Enterprise Application Development</td>
        <td>3(2-1)</td>
      </tr><tr>
        <td>CIT-644</td>
        <td>Distributed Computing</td>
        <td>3(3-0)</td>
      </tr><tr>
        <td>CIT-645</td>
        <td>Mobile Application Development</td>
        <td>3(2-1)</td>
      </tr><tr>
        <td>CIT-646</td>
        <td>Web Engineering</td>
        <td>3(2-1)</td>
      </tr><tr>
        <td>CIT-647</td>
        <td>Data Warehousing</td>
        <td>3(3-0)</td>
      </tr><tr>
        <td>CIT-648</td>
        <td>Data Mining</td>
        <td>3(3-0)</td>
      </tr><tr>
        <td>CIT-649</td>
        <td>Business Intelligence and Analyics</td>
        <td>3(3-0)</td>
      </tr><tr>
        <td>CIT-650</td>
        <td>Distributed Database Systems</td>
        <td>3(2-1)</td>
      </tr><tr>
        <td>CIT-651</td>
        <td>Enterprise Resource Planning Systems</td>
        <td>3(3-6)</td>
      </tr><tr>
        <td>CIT-652</td>
        <td>Information Systems Auditing</td>
        <td>3(3-0)</td>
      </tr><tr>
        <td>CIT-653</td>
        <td>Business Process Management</td>
        <td>3(3-0)</td>
      </tr><tr>
        <td>CIT-654</td>
        <td>Knowledge Management</td>
        <td>3(3-0)</td>
      </tr><tr>
        <td>CIT-655</td>
        <td>Artifical Intelligence</td>
        <td>3(2-1)</td>
      </tr><tr>
        <td>CIT-656</td>
        <td>Bioinformatics</td>
        <td>3(2-1)</td>
      </tr><tr>
        <td>CIT-657</td>
        <td>Biometric Systems</td>
        <td>3(2-1)</td>
      </tr>
      

    
  </table>



</div>
</div>
<br>
  <br>

  </body>
