<!DOCTYPE html>
<html>
<head>
<style>
table {
  width:50%;
  float: left;

  
  
}
table, th, td {
  border: 1px solid black;
  border-collapse: separate;
  
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 tr:nth-child(even) {
  background-color: white;
}
#t01 tr:nth-child(odd) {
 background-color: #d9d9d9;
}
#t01 th {
  font-size: 14pt;
  background-color: #333333;
  text-align: center;
  color: white;
  
}
</style>
</head>
<body>
  <h2 style="text-align:center">SCHEME OF STUDIES BBA (BUSINESS ADMINISTRATION)</h2>
    <div class="container">
<div class="row">
    
  

<table id="t01">
    <tr>
      <th colspan="3">Semester 1</th>
    
    </tr>
    
    <tr>
      <td>ECO-301</td>
      <td>Principle of Microeconomics</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>FIN-301</td>
      <td>Financial Accounting-I</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>CSI-321</td>
      <td>Introduction to Computing Application</td>
      <td>3(2-1)</td>
    </tr>
    <tr>
      <td>ENG-321</td>
      <td>Functional English</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>ISL-321</td>
      <td>Islamic Studies</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>PSY-321</td>
      <td>Human Psychology</td>
      <td>3(3-0)</td>
    </tr>
   

    <tr>
        <th colspan="3">Semester 2</th>
    </tr>
    <tr>
        <td>ECO-302</td>
        <td>Principle of Macroeconomic </td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>FIN-302</td>
        <td>Financial Accounting-II</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>STA-304</td>
        <td>Business Statistics</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MTH-306</td>
        <td>Business Mathematics</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>SOC-307</td>
        <td>Introduction of Sociology</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ENG-322</td>
        <td>English Comprehension and Composition</td>
        <td>3(3-0)</td>
      </tr>

      <tr>
        <th colspan="3">Semester 3</th>
      
      </tr>
      
      <tr>
        <td>PST-321</td>
        <td>Pakistan Studies</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>FIN-401</td>
        <td>Managerial Accounting</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MGT-401</td>
        <td>Principls of Management</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MKT-401</td>
        <td>Principle of Marketing</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>STA-401</td>
        <td>Basic Statistical Inference </td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ENG-407</td>
        <td>Oral Communication </td>
        <td>3(3-0)</td>
      </tr>
      
      <tr>
        <th colspan="3">Semester 4</th>
      
      </tr>
      
      <tr>
        <td>FIN-402</td>
        <td>Business Dinance</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MGT-402</td>
        <td>Business Communication</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MKT-402</td>
        <td>Marketing Management</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MGT-404</td>
        <td>Human Resource Management</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MGT-406</td>
        <td>Organizational Behavior</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ENV-301</td>
        <td>Introduction to Enviromental Science</td>
        <td>3(3-0)</td>
      </tr>
  
      
  </table>
  
  <table id="t01">
    <tr>
      <th colspan="3">Semester 5</th>
    </tr>
    <tr>
      <td>FIN-501</td>
      <td>Financial Management</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>MGT-501</td>
      <td>Operation Management</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>MKT-501</td>
      <td>Consumer Behavior</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>MGT-503</td>
      <td>Business Ethics & Corporate Social Responsibility</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>MGT-505</td>
      <td>Industrial Safet & Risk Mana</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>LAW-513</td>
      <td>Business LAW</td>
      <td>3(3-0)</td>
    </tr>
   
    <tr>
        <th colspan="3">Semester 6</th>
      </tr>
      <tr>
        <td>FIN-502</td>
        <td>International Business</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MGT-502</td>
        <td>Management Information System</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MGT-504</td>
        <td>Business Research Methods</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MGT-506</td>
        <td>Language(Arabic/French/Chinese)</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ECO-512</td>
        <td>Managerial Economics</td>
        <td>3(3-0)</td>
      </tr>
     
      

      <tr>
        <th colspan="3">Semester 7</th>
      </tr>
      <tr>
        <td>ECO-408</td>
        <td>Issues in Pakistan Economy</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MGT-601</td>
        <td>Enterpreneurship</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MGT-603</td>
        <td>Quality Management Systems</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td></td>
        <td>Specialization I</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td></td>
        <td>Specialization II</td>
        <td>3(3-0)</td>
      </tr>
      
      

      <tr>
        <th colspan="3">Semester 8</th>
      </tr>
      <tr>
        <td>MGT-602</td>
        <td>Strategic Management</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td></td>
        <td>Specialization III</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td></td>
        <td>Specialization IV</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td></td>
        <td>Specialization V</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td></td>
        <td>Specialization VI(Business Project)</td>
        <td>3(3-0)</td>
      </tr>
      

    
  </table>



</div>
</div>
<br>
  <br>

  </body>
