
<!DOCTYPE html>
<html>
<head>
<style>
table {
  width:100%;
  float: left;

  
  
}
table, th, td {
  border: 1px solid black;
  border-collapse: separate;
  
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 tr:nth-child(even) {
  background-color: white;
}
#t01 tr:nth-child(odd) {
 background-color: #d9d9d9;
}
#t01 th {
  font-size: 14pt;
  background-color: #333333;
  text-align: center;
  color: white;
  
}
</style>
</head>
<body>
  <h2 style="text-align:center;">Graduation Programs Criteria</h2>
    <div class="container">
<div class="row">
    
  

<table id="t01">
    <tr>
      <th>Programs</th>
      <th>Eligible Criteria</th>
      
      
    
    </tr>
    <tr>
    
    <td>BS(CS)</td>
    <td>FSC Pre-Engineering/Pre-Medical with additional subject of Mathematics or Equivalent FA with Subject Computer and Mathematics [45% marks are required for getting admission]</td>
    </tr>
    <tr>
    <td>BS(IT)</td>
    <td>FSC Pre-Engineering/Pre-Medical with additional subject of Mathematics or Equivalent FA with Subject Computer and Mathematics [45% marks are required for getting admission]</td>
    
    
    </tr>
    <tr>
        
        <td>BS(SE)</td>
        <td>FSC Pre-Engineering/Pre-Medical with additional subject of Mathematics or Equivalent FA with Subject Computer and Mathematics [60% marks are required for getting admission]</td>
        
        
        </tr>
        <tr>
            
            <td>BS Mathematics</td>
            <td>FSC Pre-Engineering/Pre-Medical with additional subject Mathematics/ ICS with Physics and Mathematics</td>
            
            
            </tr>
            <tr>
               
                <td>BS Zoology</td>
                <td>FSC (Pre-Medical) or  equivalent (Equivalence Certificate from IBCC)</td>
                
                
                </tr>
                <tr>
                   
                    <td>BS English</td>
                    <td>FSC Pre-Engineering/Pre-Medical/ICS/ICOM/FA</td>
                    
                    
                    </tr>
                    <tr>
                        
                        <td>BBA</td>
                        <td>FSC Pre-Engineering/Pre-Medical/ICS/ICOM/FA</td>
                        
                        
                        </tr>
                        

  </table>
  
  

</div>
</div>
<br>
  <br>

  </body>