
  
     
        <!-- <ul class="sidebar navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/teacher_panel">
              <i class="fa fa-fw fa-tachometer"></i>
              <span>Teacher Pannel</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/uploadassignment">
              <i class="fa fa-fw fa-file-text"></i>
              <span>Uplaod Assignment</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="fa fa-fw fa-file-text" ></i>

              <span>Uplaod Quiz</span></a>
              
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="fa fa-fw fa-file-text" ></i>

              <span>Uplaod Result</span></a>
              
          </li>
         
        </ul> -->
  
        
        <div id="wrapper">
        <div id="content-wrapper">
  
          <div class="container-fluid">
  
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/teacher_panel">Teacher Pannel</a>
              </li>
              <li class="breadcrumb-item active">Overview</li>
            </ol>
            <!-- <div class="spacecolumn"></div> -->
            <div class="row">
            <div class="rightcolumn" >
              <div class="card">
                <h2>Teacher Profile</h2>
                <div >
                  <img src="/assets/photos/user.png" height="50px" width="50px">
                  <br>
                </div>
               <div>
               <br>
         
          <div>
          
          <button class="btn btn-primary" style="left: 5px;">Edit Profile</button>
         
          </div>
          
               </div>
              </div>
            </div> 
            </div> 


            <!-- Icon Cards-->
            <h2>Assigments</h2>
            <div class="row">
              <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                  <div class="card-body">
                    <div class="card-body-icon">
                      <i class="fas fa-fw fa-comments"></i>
                    </div>
                    <div class="mr-5">Upload Assignment</div>
                  </div>
                  <a class="card-footer text-white clearfix small z-1" href="/uploadassignment">
                    <span class="float-left">Click to Upload</span>
                    <span class="float-right">
                      <i class="fa fa-angle-right"></i>
                    </span>
                  </a>
                </div>
              </div>


              
              <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-warning o-hidden h-100">
                  <div class="card-body">
                    <div class="card-body-icon">
                      <i class="fas fa-fw fa-list"></i>
                    </div>
                    <div class="mr-5">Assigments List</div>
                  </div>
                  <a class="card-footer text-white clearfix small z-1" href="/assignmentlisting">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                      <i class="fa fa-angle-right"></i>
                    </span>
                  </a>
                </div>
              </div>
             


              <!-- <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                  <div class="card-body">
                    <div class="card-body-icon">
                      <i class="fas fa-fw fa-comments"></i>
                    </div>
                    <div class="mr-5">Assignments Submitted by students</div>
                  </div>
                  <a class="card-footer text-white clearfix small z-1" href="/">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                      <i class="fa fa-angle-right"></i>
                    </span>
                  </a>
                </div>
              </div> -->
              </div>






              <h2>Results</h2>
              <div class="row">
                <div class="col-xl-3 col-sm-6 mb-3">
                  <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-body">
                      <div class="card-body-icon">
                        <i class="fas fa-fw fa-comments"></i>
                      </div>
                      <div class="mr-5">Upload Result</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="/uploadresult">
                      <span class="float-left">Click to Upload</span>
                      <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                      </span>
                    </a>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                  <div class="card text-white bg-warning o-hidden h-100">
                    <div class="card-body">
                      <div class="card-body-icon">
                        <i class="fas fa-fw fa-list"></i>
                      </div>
                      <div class="mr-5">Result List</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="/resultlist">
                      <span class="float-left">View Details</span>
                      <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                      </span>
                    </a>
                  </div>
                </div>
                </div>









                <h2>Quiz</h2>
                <div class="row">
                  <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-primary o-hidden h-100">
                      <div class="card-body">
                        <div class="card-body-icon">
                          <i class="fas fa-fw fa-comments"></i>
                        </div>
                        <div class="mr-5">Upload Quiz</div>
                      </div>
                      <a class="card-footer text-white clearfix small z-1" href="/">
                        <span class="float-left">Click to Upload</span>
                        <span class="float-right">
                          <i class="fa fa-angle-right"></i>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-warning o-hidden h-100">
                      <div class="card-body">
                        <div class="card-body-icon">
                          <i class="fas fa-fw fa-list"></i>
                        </div>
                        <div class="mr-5">Quiz List</div>
                      </div>
                      <a class="card-footer text-white clearfix small z-1" href="/">
                        <span class="float-left">View Details</span>
                        <span class="float-right">
                          <i class="fa fa-angle-right"></i>
                        </span>
                      </a>
                    </div>
                
                
                
                
                
                  </div>
                  </div>





              </div>
             
      <!-- <div class="spacecolumn"></div> -->
              
              <!-- <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                  <div class="card-body">
                    <div class="card-body-icon">
                      <i class="fas fa-fw fa-comments"></i>
                    </div>
                    <div class="mr-5">Rejected</div>
                  </div>
                  <a class="card-footer text-white clearfix small z-1" href="/universityrejected">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                      <i class="fa fa-angle-right"></i>
                    </span>
                  </a>
                </div>
              </div> -->
             
               
