
<!DOCTYPE html>
<html>
<head>
<style>
table {
  width:100%;
  float: left;

  
  
}
table, th, td {
  border: 1px solid black;
  border-collapse: separate;
  
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 tr:nth-child(even) {
  background-color: white;
}
#t01 tr:nth-child(odd) {
 background-color: #d9d9d9;
}
#t01 th {
  font-size: 14pt;
  background-color: #333333;
  text-align: center;
  color: white;
  
}
</style>
</head>
<body>
  <h2 style="text-align:center;">Fee Structure for Intermediate Programs</h2>
    <div class="container">
<div class="row">
    
  

<table id="t01">
    <tr>
      <th>Intermediate Program</th>
      <th>Admission Fee</th>
      <th>Registration Fee</th>
      <th>Tution Fee</th>
      <th>Total Package One Year</th>
      <th>1st Installment</th>
      <th>2nd Installment</th>
      <th>3rd Installment</th>
    
    </tr>
    <tr>
    <td><strong>ICS</strong></td>
    <td>6,000</td>
    <td>3,000</td>
    <td>80,000</td>
    <td>89,000</td>
    <td>35,666</td>
    <td>26,666</td>
    <td>26,666</td>
    </tr>
    <tr>
    <td><strong>FSC PRE-MEDICAL</strong></td>
    <td>6,000</td>
    <td>3,000</td>
    <td>80,000</td>
    <td>89,000</td>
    <td>35,666</td>
    <td>26,666</td>
    <td>26,666</td>
    </tr>
    <tr>
        <td><strong>FSC PRE-ENGINEERING</strong></td>
        <td>6,000</td>
        <td>3,000</td>
        <td>80,000</td>
        <td>89,000</td>
        <td>35,666</td>
        <td>26,666</td>
        <td>26,666</td>
        </tr>
        <tr>
            <td><strong>ICOM</strong></td>
            <td>6,000</td>
            <td>3,000</td>
            <td>70,000</td>
            <td>79,000</td>
            <td>32,333</td>
            <td>23,333</td>
            <td>23,333</td>
            </tr>
            <tr>
                <td><strong>FA</strong></td>
                <td>6,000</td>
                <td>3,000</td>
                <td>60,000</td>
                <td>69,000</td>
                <td>29,000</td>
                <td>20,000</td>
                <td>20,000</td>
                </tr>
  </table>
  
  

</div>
</div>
<br>
  <br>

  </body>