<!DOCTYPE html>
<html>
<head>
<style>
table {
  width:50%;
  float: left;

  
  
}
table, th, td {
  border: 1px solid black;
  border-collapse: separate;
  
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 tr:nth-child(even) {
  background-color: white;
}
#t01 tr:nth-child(odd) {
 background-color: #d9d9d9;
}
#t01 th {
  font-size: 14pt;
  background-color: #333333;
  text-align: center;
  color: white;
  
}
</style>
</head>
<body>
  <h2 style="text-align:center">SCHEME OF STUDIES BS MATHEMATICS</h2>
    <div class="container">
<div class="row">
    
  

<table id="t01">
    <tr>
      <th colspan="3">Semester 1</th>
    
    </tr>
    
    <tr>
      <td>MTH-301</td>
      <td>Calculus-I</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>MTH-303</td>
      <td>Discrete Mathematics</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>STA-322</td>
      <td>Introduction to Statistical Theory</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>PHY-325</td>
      <td>Physics-I</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>ENG-321</td>
      <td>Functional English</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
        <td>ISL-321</td>
        <td>Islamic Studies/Ethics</td>
        <td>2(2-0)</td>
      </tr>

    <tr>
        <th colspan="3">Semester 2</th>
    </tr>
    <tr>
        <td>MTH-302</td>
        <td>Calculus-II </td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MTH-304</td>
        <td>Linear Algebra</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>STA-421</td>
        <td>Introduction to Statistical Theory-II</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>PHY-425</td>
        <td>Physics-II</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ENG-322</td>
        <td>English Comprehension and Composition</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>PST-321</td>
        <td>Pakistan Studies</td>
        <td>2(2-0)</td>
      </tr>

      <tr>
        <th colspan="3">Semester 3</th>
      
      </tr>
      
      <tr>
        <td>MTH-401</td>
        <td>Calculus-III</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MTH-403</td>
        <td>Mechanics-I</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MTH-405</td>
        <td>Differential Equations-I</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MTH-407</td>
        <td>Number Theory</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>CSI-321</td>
        <td>Introduction to omputing Applications</td>
        <td>3(2-1)</td>
      </tr>
      <tr>
        <td>ENG-421</td>
        <td>Communication Skills</td>
        <td>3(3-0)</td>
      </tr>
      
      <tr>
        <th colspan="3">Semester 4</th>
      
      </tr>
      
      <tr>
        <td>MTH-402</td>
        <td>Affine amd Euclidean Geometry</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MTH-404</td>
        <td>Mechanics-II</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MTH-406</td>
        <td>Differential Equations-II</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MTH-410</td>
        <td>C++</td>
        <td>3(2-1)</td>
      </tr>
      <tr>
        <td>PSY-422</td>
        <td>Introduction to Psychology</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <th colspan="3">Semester 5</th>
      </tr>
      <tr>
        <td>MTH-501</td>
        <td>Real Analysis-I</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MTH-503</td>
        <td>Complex Analysis</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MTH-505</td>
        <td>Algebr-I</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MTH-507</td>
        <td>Vector and Tensor Analysis</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MTH-509</td>
        <td>Point set Topology</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
          <td>MTH-511</td>
          <td>Differential Geometry</td>
          <td>3(3-0)</td>
        </tr>
  
      
  </table>
  
  <table id="t01">
    
    <tr>
        <th colspan="3">Semester 6</th>
      </tr>
      <tr>
        <td>MTH-502</td>
        <td>Real Analysis-II</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MTH-504</td>
        <td>Complex Analysis-II</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MTH-506</td>
        <td>Algebra-II</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MTH-508</td>
        <td>Mechanics</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MTH-510</td>
        <td>Functional Analysis</td>
        <td>3(3-0)</td>
        <tr>
            <td>MTH-512</td>
            <td>Mathematical Methods</td>
            <td>3(3-0)</td>
      </tr>
     

      <tr>
        <th colspan="3">Semester 7</th>
      </tr>
      <tr>
        <td>MTH-601</td>
        <td>Numerical Analysis-I</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MTH-603</td>
        <td>Partial Differential Equations</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MTH-605</td>
        <td>Advanced Set Theory</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td></td>
        <td style="background-color: blanchedalmond;"><strong>Optional Papers(3 out of following group)</strong></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td style="background-color: blanchedalmond;"><strong>Applied Group</strong></td>
        <td></td>
      </tr>
      <tr>
        <td>MTH-607</td>
        <td>Algebric Number Theory</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MTH-609</td>
        <td>Fluid Mechanics-I</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MTH-611</td>
        <td>Operation Research</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MTH-613</td>
        <td>Special Theror of Relativity</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MTH-615</td>
        <td>Quantum Mechanics-I</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MTH-617</td>
        <td>Cryptography</td>
        <td>3(3-0)</td>
      </tr>
        <tr>
            <td></td>
            <td style="background-color: blanchedalmond;"><strong>Pure Group</strong></td>
            <td></td>
          </tr>
          <tr>
            <td>MTH-621</td>
            <td>Algebric Number Theory</td>
            <td>3(3-0)</td>
          </tr>
          <tr>
            <td>MTH-623</td>
            <td>Advanced Group theory</td>
            <td>3(3-0)</td>
          </tr>
          <tr>
            <td>MTH-625</td>
            <td>Advanced Funtional Analysis</td>
            <td>3(3-0)</td>
          </tr>
          <tr>
            <td>MTH-627</td>
            <td>Advanced Topology</td>
            <td>3(3-0)</td>
          </tr>
          <tr>
            <td>MTH-629</td>
            <td>Continuous Group</td>
            <td>3(3-0)</td>
          </tr>
          


          <tr>
            <th colspan="3">Semester 8</th>
          </tr>
          <tr>
            <td>MTH-602</td>
            <td>Numerical Analysis-II</td>
            <td>3(3-0)</td>
          </tr>
          <tr>
            <td>MTH-604</td>
            <td>Computing Tools for Mathematics</td>
            <td>3(2-1)</td>
          </tr>
          <tr>
            <td>MTH-606</td>
            <td>Mathematical Statistics</td>
            <td>3(3-0)</td>
          </tr>
          <tr>
            <td></td>
            <td style="background-color: blanchedalmond;"><strong>Optional Papers(3 out of following group)</strong></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td style="background-color: blanchedalmond;"><strong>Applied Group</strong></td>
            <td></td>
          </tr>
          <tr>
            <td>MTH-608</td>
            <td>Theory of Optimization</td>
            <td>3(3-0)</td>
          </tr>
          <tr>
            <td>MTH-610</td>
            <td>Fluid Mechanics-II</td>
            <td>3(3-0)</td>
          </tr>
          <tr>
            <td>MTH-612</td>
            <td>Modeling and Simulation</td>
            <td>3(3-0)</td>
          </tr>
          <tr>
            <td>MTH-614</td>
            <td>Special Functions</td>
            <td>3(3-0)</td>
          </tr>
          <tr>
            <td>MTH-616</td>
            <td>Theory of Elasticity</td>
            <td>3(3-0)</td>
          </tr>
          <tr>
            <td>MTH-618</td>
            <td>Quantum Mechanics-II</td>
            <td>3(3-0)</td>
          </tr>
            <tr>
                <td></td>
                <td style="background-color: blanchedalmond;"><strong>Pure Group</strong></td>
                <td></td>
              </tr>
              <tr>
                <td>MTH-622</td>
                <td>Advance Group Theory-II</td>
                <td>3(3-0)</td>
              </tr>
              <tr>
                <td>MTH-624</td>
                <td>Measure theory</td>
                <td>3(3-0)</td>
              </tr>
              <tr>
                <td>MTH-626</td>
                <td>Advanced Complex Analysis</td>
                <td>3(3-0)</td>
              </tr>
              <tr>
                <td>MTH-614</td>
                <td>Special Functions</td>
                <td>3(3-0)</td>
              </tr>
              <tr>
                <td>MTH-628</td>
                <td>Rings and Fields</td>
                <td>3(3-0)</td>
              </tr>
              <tr>
                <td>MTH-630</td>
                <td>Operator Theory</td>
                <td>3(3-0)</td>
              </tr>
    
      

    
  </table>



</div>
</div>
<br>
  <br>

  </body>
