<!DOCTYPE html>
<html>
<head>
<style>
table {
  width:50%;
  float: left;

  
  
}
table, th, td {
  border: 1px solid black;
  border-collapse: separate;
  
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 tr:nth-child(even) {
  background-color: white;
}
#t01 tr:nth-child(odd) {
 background-color: #d9d9d9;
}
#t01 th {
  font-size: 14pt;
  background-color: #333333;
  text-align: center;
  color: white;
  
}
</style>
</head>
<body>
  <h2 style="text-align:center">SCHEME OF STUDIES BS ZOOLOGY</h2>
    <div class="container">
<div class="row">
    
  

<table id="t01">
    <tr>
      <th colspan="3">Semester 1</th>
    
    </tr>
    
    <tr>
      <td>ZOL-301</td>
      <td>Zoology-I(Principle of AnimalLife-I)</td>
      <td>4(3-1)</td>
    </tr>
    <tr>
      <td>BOT-301</td>
      <td>Botany-I/Subsidiary</td>
      <td>4(3-1)</td>
    </tr>
    <tr>
      <td>CHM-321</td>
      <td>Chemistry-I/Subsidiary</td>
      <td>4(3-1)</td>
    </tr>
    <tr>
      <td>ENG-321</td>
      <td>Functional English</td>
      <td>3(3-0)</td>
    </tr>
   
    <tr>
      <td>ISL-321</td>
      <td>islamic Studies/Ethics</td>
      <td>2(2-0)</td>
    </tr>
   
    

    <tr>
        <th colspan="3">Semester 2</th>
    </tr>
    <tr>
        <td>ZOL-302</td>
        <td>Zoology-II(Principle of Animal Life-II) </td>
        <td>4(3-1)</td>
      </tr>
      <tr>
        <td>MTH-321</td>
        <td>Mathematics-I </td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>CHM-322</td>
        <td>Chemistry-II/Subsidiary(core)</td>
        <td>4(3-1)</td>
      </tr>
      <tr>
        <td>ENG-322</td>
        <td>English Comprehension and Composition</td>
        <td>3(3-0)</td>
      </tr>
      
      <tr>
        <td>PST-321</td>
        <td>Pakistan Studies</td>
        <td>2(2-0)</td>
      </tr>
      <tr>
        <td colspan="3">.</td>
      </tr>

      <tr>
        <th colspan="3">Semester 3</th>
      
      </tr>
      
      <tr>
        <td>ZOL-401</td>
        <td>Zoology-III(Animal Diversity-I: Invertebrates)</td>
        <td>4(3-1)</td>
      </tr>
      <tr>
        <td>ZOL-403</td>
        <td>Zoology-IV(Animal Diversity-II: Chordates</td>
        <td>4(3-1)</td>
      </tr>
      <tr>
        <td>BOT-401</td>
        <td>Botany-III/Subsidiary(core)</td>
        <td>4(3-1)</td>
      </tr>
      <tr>
        <td>CHM-421</td>
        <td>Chemistry-III/Subsidiary(core)   </td>
        <td>4(3-1)</td>
      </tr>
      <tr>
        <td>ENG-421</td>
        <td>Communication Skills </td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>PHY-407</td>
        <td>Social Psychology</td>
        <td>3(3-0)</td>
      </tr>
      
      <tr>
        <th colspan="3">Semester 4</th>
      
      </tr>
      
      <tr>
        <td>ZOL-402</td>
        <td>Zoology-V(Animal Form& Function-I)</td>
        <td>4(3-1)</td>
      </tr>
      <tr>
        <td>ZOL-404</td>
        <td>Zoology-VI(Animal Form& Function-II) </td>
        <td>4(3-1)</td>
      </tr>
      <tr>
        <td>PSY-422</td>
        <td>Introduction to Psychology </td>
        <td>4(3-1)</td>
      </tr>
      <tr>
        <td>CSI-321</td>
        <td>Introduction to Computing Application</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>BOT-302</td>
        <td>Botany-II/Subsidiary(core)</td>
        <td>4(3-1)</td>
      </tr>
      
  
      <tr>
  </table>
  
  <table id="t01">
    <tr>
      <th colspan="3">Semester 5</th>
    </tr>
    <tr>
      <td>ZOL-501</td>
      <td>Cell and Molecular Biology</td>
      <td>4(3-1)</td>
    </tr>
    <tr>
      <td>ZOL-301</td>
      <td>Introduction to Biochemistry</td>
      <td>3(2-1)</td>
    </tr>
    <tr>
      <td>ZOL-505</td>
      <td>Animal Physiology</td>
      <td>4(3-1)</td>
    </tr>
    <tr>
      <td>ZOL-507</td>
      <td>Animal Behaviour</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>ZOL-509</td>
      <td>General and Molecular Genetics </td>
      <td>3(3-0)</td>
    </tr>
     
    <tr>
        <th colspan="3">Semester 6</th>
      </tr>
      <tr>
        <td>STA-321</td>
        <td>Introduction to Statistical Theory </td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ZOL-504</td>
        <td> Development Biology</td>
        <td>4(3-1)</td>
      </tr>
      <tr>
        <td>ZOL-506</td>
        <td>Ecology</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ZOL-508</td>
        <td>Principles of Zoogeography   </td>
        <td>3(2-1)</td>
      </tr>
      <tr>
        <td>BCH-502</td>
        <td>Biochemistry-II (Metanolism) </td>
        <td>3(2-1)</td>
      </tr>
      <tr>
        <td>ZOL-512</td>
        <td>Physiology-II </td>
        <td>4(3-1)</td>
      </tr>
     

      <tr>
        <th colspan="3">Semester 7</th>
      </tr>
      <tr>
        <td>ZOL-601</td>
        <td>Evolution and Principles of Systematics</td>
        <td>4(3-1)</td>
      </tr>
      <tr>
        <td>ZOL-605</td>
        <td>Fisheries</td>
        <td>3(2-1)</td>
      </tr>
      <tr>
        <td>ZOL-607</td>
        <td>Research Methodology</td>
        <td>1(1-0)</td>
      </tr>
      <tr>
        <td>ZOL-609</td>
        <td>Principes of Paleontology</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ZOL-611</td>
        <td>Fundamental of Entomology</td>
        <td>3(2-1)</td>
      </tr>
      <tr>
        <td>ZOL-613</td>
        <td>Aquatic Toxicology</td>
        <td>3(2-1)</td>
      </tr>
      

      <tr>
        <th colspan="3">Semester 8</th>
      </tr>
      
      <tr>
        <td>BNB-402</td>
        <td>Basic Bioinformatics</td>
        <td>3(2-1)</td>
      </tr>
      <tr>
        <td>ZOL-606</td>
        <td>Wildlife</td>
        <td>3(2-1)</td>
      </tr>
      <tr>
        <td>ZOL-608</td>
        <td>Bioremediation and Bio-Processing</td>
        <td>3(2-1)</td>
      </tr>
      <tr>
        <td>ZOL-630</td>
        <td>Thesis</td>
        <td>6(0-6)</td>
      </tr>
      <tr>
        <td></td>
        <td>To be Offered *Special Paper 1(in lieu of thesis)</td>
        <td>3(2-1)</td>
      </tr>
      <tr>
        <td></td>
        <td>To be Offered *Special Paper 2(in lieu of thesis)</td>
        <td>3(2-1)</td>
      </tr>
      

    
  </table>



</div>
</div>
<br>
  <br>

  </body>

