<!DOCTYPE html>
<html>
<head>
<style>
table {
  width:50%;
  float: left;

  
  
}
table, th, td {
  border: 1px solid black;
  border-collapse: separate;
  
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 tr:nth-child(even) {
  background-color: white;
}
#t01 tr:nth-child(odd) {
 background-color: #d9d9d9;
}
#t01 th {
  font-size: 14pt;
  background-color: #333333;
  text-align: center;
  color: white;
  
}
</style>
</head>
<body>
  <h2 style="text-align:center">SCHEME OF STUDIES BS Computer Science</h2>
    <div class="container">
<div class="row">
    
  

<table id="t01">
    <tr>
      <th colspan="3">Semester 1</th>
    
    </tr>
    
    <tr>
      <td>CSI-321</td>
      <td>Introduction to ICT</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>CSI-301</td>
      <td>Programming Fundamental</td>
      <td>4(3-1)</td>
    </tr>
    <tr>
      <td>ENG-322</td>
      <td>English Composition & Comprehensive</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>MTH-323</td>
      <td>Calculus and Analytical</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>LNG-321</td>
      <td>Chinese Language</td>
      <td>3(3-0)</td>
    </tr>
    

    <tr>
        <th colspan="3">Semester 2</th>
    </tr>
    <tr>
        <td>CSI-304</td>
        <td>Digital Logic and Design </td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>CSI-302</td>
        <td>Object Oriented Programming</td>
        <td>4(3-1)</td>
      </tr>
      <tr>
        <td>ENG-421</td>
        <td>Communication & Presentation Skills</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>STA-324</td>
        <td>Probability and Statistics</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>PHY-323</td>
        <td>Applied Physics</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ECO-408</td>
        <td>Issues in Pakistan Economy</td>
        <td>3(3-0)</td>
      </tr>

      <tr>
        <th colspan="3">Semester 3</th>
      
      </tr>
      
      <tr>
        <td>CSI-403</td>
        <td>Computer Organization & Assembly Language</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>CSI-401</td>
        <td>Data Structure and Algorithm</td>
        <td>3(2-1)</td>
      </tr>
      <tr>
        <td>CSI-405</td>
        <td>Discrete Structure</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>CSI-411</td>
        <td>Professional Practices</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MTH-423</td>
        <td>Diferential Equations </td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MTH-424</td>
        <td>Linear Algebra </td>
        <td>3(3-0)</td>
      </tr>
      
      <tr>
        <th colspan="3">Semester 4</th>
      
      </tr>
      
      <tr>
        <td>CSI-406</td>
        <td>Design & Analysis of Algorithm</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>CSI-402</td>
        <td>Operating Systems</td>
        <td>4(3-1)</td>
      </tr>
      <tr>
        <td>CSI-404</td>
        <td>Theory of Automata</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>CSI-408</td>
        <td>Numerical Computing</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>BBA-506</td>
        <td>Human Resource Management</td>
        <td>3(3-0)</td>
      </tr>
  
      <tr>
  </table>
  
  <table id="t01">
    <tr>
      <th colspan="3">Semester 5</th>
    </tr>
    <tr>
      <td>CSI-505</td>
      <td>Compiler Construction</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>CSI-503</td>
      <td>Database Systems</td>
      <td>4(3-1)</td>
    </tr>
    <tr>
      <td>CSWE-503</td>
      <td>Software Egineering-I</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>MTH-324</td>
      <td>Multivariable Calculus</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>PSY-421</td>
      <td>Psychology</td>
      <td>3(3-0)</td>
    </tr>
   
    <tr>
        <th colspan="3">Semester 6</th>
      </tr>
      <tr>
        <td>CSI-508</td>
        <td>Artifical Intelligence</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>CSI-512</td>
        <td>Computer Networks</td>
        <td>4(3-1)</td>
      </tr>
      <tr>
        <td>CSI-506</td>
        <td>Web Design and Development</td>
        <td>3(2-1)</td>
      </tr>
      <tr>
        <td>CSI-504</td>
        <td>Distributed Database Systems</td>
        <td>3(2-1)</td>
      </tr>
      <tr>
        <td>ENG-510</td>
        <td>Technical & Business Writing</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td colspan="3">.</td>
      </tr>

      <tr>
        <th colspan="3">Semester 7</th>
      </tr>
      <tr>
        <td>CSI-615</td>
        <td>Mobie and Application Development</td>
        <td>3(2-1)</td>
      </tr>
      <tr>
        <td>SWE-603</td>
        <td>Software Engineering-II</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>CSI-621</td>
        <td>Parallel & Distributed Computing</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>CSI-619</td>
        <td>Information Security</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>PST-321</td>
        <td>Pakistan Studies</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td colspan="3">.</td>
      </tr>

      <tr>
        <th colspan="3">Semester 8</th>
      </tr>
      <tr>
        <td>CSI-616</td>
        <td>Fundamental of Data Mining</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>CSI-604</td>
        <td>Computer Graphics</td>
        <td>3(2-1)</td>
      </tr>
      <tr>
        <td>CSI-630</td>
        <td>Final Year Project</td>
        <td>6(0-6)</td>
      </tr>
      <tr>
        <td>CSI-321</td>
        <td>Islamic Studies/Ethics</td>
        <td>3(3-0)</td>
      </tr>
      

    
  </table>



</div>
</div>
<br>
  <br>

  </body>
