<!DOCTYPE html>
<html>
<head>
<style>
table {
  width:50%;
  float: left;

  
  
}
table, th, td {
  border: 1px solid black;
  border-collapse: separate;
  
}
th, td {
  padding: 10px;
  text-align: left;
}
#t01 tr:nth-child(even) {
  background-color: white;
}
#t01 tr:nth-child(odd) {
 background-color: #d9d9d9;
}
#t01 th {
  font-size: 14pt;
  background-color: #333333;
  text-align: center;
  color: white;
  
}
</style>
</head>
<body>
  <h2 style="text-align:center">SCHEME OF STUDIES BS ENGLISH LITERATURE</h2>
    <div class="container">
<div class="row">
    
  

<table id="t01">
    <tr>
      <th colspan="3">Semester 1</th>
    
    </tr>
    
    <tr>
      <td>eng-301</td>
      <td>English-I(Grammer)</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>ENG-303</td>
      <td>Introduction to Literary Studies</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>ENG-305</td>
      <td>History of English Literature-I</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>POL-304</td>
      <td>Gender & Human Rights</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>ENG-321</td>
      <td>Funtional English</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>ISL-321</td>
      <td>islamic Studies/Ethics</td>
      <td>3(3-0)</td>
    </tr>
   
    

    <tr>
        <th colspan="3">Semester 2</th>
    </tr>
    <tr>
        <td>ENG-302</td>
        <td>English-II(Reading and Study Skills) </td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ENG-304</td>
        <td>Classical Poetry </td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ENG-306</td>
        <td>History of English Literature-II</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ENG-308</td>
        <td>General Linguistic</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>HIS-502</td>
        <td>History of Europe(1848-1991)</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>PST-321</td>
        <td>Pakistan Studies</td>
        <td>2(2-0)</td>
      </tr>

      <tr>
        <th colspan="3">Semester 3</th>
      
      </tr>
      
      <tr>
        <td>ENG-401</td>
        <td>English-III(Writing Skills)</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ENG-403</td>
        <td>Greek Drama</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ENG-405</td>
        <td>Prose</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>CSI-321</td>
        <td>Introduction to Computing Applications</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MCM-404</td>
        <td>Mass Media in Pakistan </td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>PHY-407</td>
        <td>Social Psychology</td>
        <td>3(3-0)</td>
      </tr>
      
      <tr>
        <th colspan="3">Semester 4</th>
      
      </tr>
      
      <tr>
        <td>ENG-402</td>
        <td>Englisj(Listening,Speaking and Presentation skills)</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ENG-404</td>
        <td>Literary Criticism</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ENG-406</td>
        <td>Elizabethan Drama</td>
        <td>4(3-1)</td>
      </tr>
      <tr>
        <td>ENG-408</td>
        <td>Novel-I</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ENG-410</td>
        <td>Phonetics and Phonology</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>SOC-307</td>
        <td>Introduction to Sociology</td>
        <td>3(3-0)</td>
      </tr>
  
      
  </table>
  
  <table id="t01">
    <tr>
      <th colspan="3">Semester 5</th>
    </tr>
    <tr>
      <td>CSI-501</td>
      <td>Romantic& Viictorian Poetry</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>ENG-503</td>
      <td>Modern Drama</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>ENG-505</td>
      <td>American Literature-I(Drama)</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>ENG-507</td>
      <td>Literary Theory-I</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>ENG-509</td>
      <td>Pakistani Literature in English-I  </td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>ENG-511</td>
      <td>  LIterature of War and Conflict</td>
      <td>2(2-0)</td>
    </tr>
    <tr>
        <th colspan="3">Semester 6</th>
      </tr>
      <tr>
        <td>ENG-502</td>
        <td>Modern Poetry   </td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ENG-504</td>
        <td> Novel-II</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ENG-506</td>
        <td>American Literarure-II(Poetry&Novel) </td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ENG-508</td>
        <td>Literary Theory-II   </td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ENG-510</td>
        <td> Literary Text Analysis  </td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ENG-512</td>
        <td> TEFL  </td>
        <td>3(3-0)</td>
      </tr>
     

      <tr>
        <th colspan="3">Semester 7</th>
      </tr>
      <tr>
        <td>ENG-601</td>
        <td>Novel-III  </td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ENG-603</td>
        <td>Pakistani Literature in English-II</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ENG-605</td>
        <td>Postcolonial Studies</td>
        <td>3(2-1)</td>
      </tr>
      <tr>
        <td>ENG-607</td>
        <td>World Literature  </td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ENG-609</td>
        <td> Research Methodology</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ENG-611</td>
        <td> South Asian Literature</td>
        <td>3(3-0)</td>
      </tr>
      

      <tr>
        <th colspan="3">Semester 8</th>
      </tr>
      
      <tr>
        <td>ENG-602</td>
        <td>Comparative Approaches to Literary Studies  </td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ENG-604</td>
        <td>Theatre of the Absurd</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ENG-606</td>
        <td>Media and Culture Studies</td>
        <td>3(2-1)</td>
      </tr>
      <tr>
        <td>ENG-608</td>
        <td>Russian Literature  </td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ENG-610</td>
        <td> Popular Narrative</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ENG-612</td>
        <td> Short Stories  </td>
        <td>3(3-0)</td>
      </tr>
      

    
  </table>



</div>
</div>
<br>
  <br>

  </body>
