<!DOCTYPE html>
<html>
<head>
<style>
table {
  width:50%;
  float: left;

  
  
}
table, th, td {
  border: 1px solid black;
  border-collapse: separate;
  
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 tr:nth-child(even) {
  background-color: white;
}
#t01 tr:nth-child(odd) {
 background-color: #d9d9d9;
}
#t01 th {
  font-size: 14pt;
  background-color: #333333;
  text-align: center;
  color: white;
  
}
</style>
</head>
<body>
  <h2 style="text-align:center">SCHEME OF STUDIES BS SOFTWARE ENGINEERING</h2>
    <div class="container">
<div class="row">
    
  

<table id="t01">
    <tr>
      <th colspan="3">Semester 1</th>
    
    </tr>
    
    <tr>
      <td>CSI-301</td>
      <td>Programming Fundamentals</td>
      <td>4(3-1)</td>
    </tr>
    <tr>
      <td>CSI-303</td>
      <td>Intoduction to Computing</td>
      <td>4(3-1)</td>
    </tr>
    <tr>
      <td>ENG-321</td>
      <td>Functional English</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>ISL-321</td>
      <td>Islamic Studies/Ethics</td>
      <td>2(2-0)</td>
    </tr>
    <tr>
      <td>MTH-323</td>
      <td>Calculus and Analytical Geometry</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td colspan="3">.</td>
    </tr>
    

    <tr>
        <th colspan="3">Semester 2</th>
    </tr>
    <tr>
        <td>CSI-501</td>
        <td>Object Oriented Programming </td>
        <td>4(3-1)</td>
      </tr>
      <tr>
        <td>CSI-304</td>
        <td>Discrete Structure</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ENG-322</td>
        <td>English Comprehension & Composition</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MTH-324</td>
        <td>Advanced Calculus</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ELT-321</td>
        <td>Basic Electronic</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>PST-321</td>
        <td>Pakistan Studies</td>
        <td>2(2-0)</td>
      </tr>

      <tr>
        <th colspan="3">Semester 3</th>
      
      </tr>
      
      <tr>
        <td>CSI-401</td>
        <td>Data Structure & Algorithm</td>
        <td>4(3-1)</td>
      </tr>
      <tr>
        <td>CSI-403</td>
        <td>Digital Logic & Design</td>
        <td>4(3-1)</td>
      </tr>
      <tr>
        <td>SWE-401</td>
        <td>Introduction to Software Engineering</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>ENG-421</td>
        <td>Communication Skills</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>STA-321</td>
        <td>Introduction to Statistical </td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>MTH-424</td>
        <td>Linear Algebra </td>
        <td>3(3-0)</td>
      </tr>
      
      <tr>
        <th colspan="3">Semester 4</th>
      
      </tr>
      
      <tr>
        <td>CSI-402</td>
        <td>Operating Systems</td>
        <td>4(3-1)</td>
      </tr>
      <tr>
        <td>SWE-405</td>
        <td>Component Based Software Engineering</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>CSI-405</td>
        <td>Introduction To DataBase Systems</td>
        <td>4(3-1)</td>
      </tr>
      <tr>
        <td>CSI-506</td>
        <td>Analysis of Algorithms</td>
        <td>2(2-0)</td>
      </tr>
      <tr>
        <td>SOC-307</td>
        <td>Introduction To Sociology</td>
        <td>3(3-0)</td>
      </tr>
  
      <tr>
  </table>
  
  <table id="t01">
    <tr>
      <th colspan="3">Semester 5</th>
    </tr>
    <tr>
      <td>CSI-501</td>
      <td>Web Engineering</td>
      <td>3(2-1)</td>
    </tr>
    <tr>
      <td>SWE-501</td>
      <td>Software Requirements Engineering</td>
      <td>3(2-1)</td>
    </tr>
    <tr>
      <td>SWE-502</td>
      <td>Software Process Improvement</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>SWE-503</td>
      <td>Software Engineering Economics</td>
      <td>3(2-1)</td>
    </tr>
    <tr>
      <td>BBA-506</td>
      <td>Human Resource Management</td>
      <td>3(3-0)</td>
    </tr>
    <tr>
      <td>CSI-601</td>
      <td>Human Computer Interaction</td>
      <td>2(2-0)</td>
    </tr>
    <tr>
        <th colspan="3">Semester 6</th>
      </tr>
      <tr>
        <td>CSI-401</td>
        <td>Computer Communication and Networks</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>SWE-505</td>
        <td>Professional Practices</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>CSI-607</td>
        <td>Artifical Intelligence</td>
        <td>3(2-1)</td>
      </tr>
      <tr>
        <td>SWE-551</td>
        <td>Software Architecture and Design</td>
        <td>3(2-1)</td>
      </tr>
      <tr>
        <td>SWE-552</td>
        <td>Software Verification and Validation</td>
        <td>3(2-1)</td>
      </tr>
      <tr>
        <td colspan="3">.</td>
      </tr>

      <tr>
        <th colspan="3">Semester 7</th>
      </tr>
      <tr>
        <td>SWE-603</td>
        <td>Software Project Management</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>SWE-605</td>
        <td>Software Metrics</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>SWE-607</td>
        <td>Mathematical Tools for Software Engineering</td>
        <td>3(2-1)</td>
      </tr>
      <tr>
        <td>SWE-609</td>
        <td>Enterprise Security Architecture</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>BBA-601</td>
        <td>Organizational Behavior</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td colspan="3">.</td>
      </tr>

      <tr>
        <th colspan="3">Semester 8</th>
      </tr>
      <tr>
        <td>SWE-602</td>
        <td>Information Systems and Data Processing</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>SWE-604</td>
        <td>Information System Audit</td>
        <td>3(3-0)</td>
      </tr>
      <tr>
        <td>SWE-631</td>
        <td>Project</td>
        <td>6(6-0)</td>
      </tr>
      

    
  </table>



</div>
</div>
<br>
  <br>

  </body>
